p {
	color: #666;
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

img.kassipilt {
	width: 200px;
	height: 133px;
}

.container {
	width: 800px;
	margin: 20px auto;
}

.php_labu {
	color: red;
}
